@media (min-width:768px){
    .login-main-container{
        display: flex;
        flex-direction: row;
    }
    .login-form-container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-container{
        height: 100vh;
        width: 50%;
    }
    img{
        height: 100vh;
        width: 100%;
    }
    .login-container1{
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        height: 400px;
        width: 350px;
        align-items: center;
    }
    .app-logo{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .app-logo-container-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 230px;
        margin-top: 20%;
    }
    .app-name{
        font-family: DM sans;
        font-weight: 700;
        font-style: italic;
        line-height: 12px;
        font-size: 20px;
        color: #F7931E;
        margin-left: 10px;
    }
    .login-text{
        color: #0F172A;
        font-size: 25px;
        font-weight: 500;
        margin-top: 0%;
        font-family: DM sans;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    input{
        background-color: #ffffff;
        width: 120%;
        border-width: 1px;
        border-radius: 6px;
        height: 25px;
    }
    label{
        font-family: Roboto;
        font-size: 12px;
    }
    .err-text{
        color: #e70f0f;
        font-size: 12px;
        padding-top: 0%;
    }
    .submit-button{
        background-color: #F7931E;
        color: #FFFF;
        border-width: 0cap;
        border-radius: 6px;
        height: 25px;
        width: 120%;
    }
}

@media (max-width:767px){
    .login-main-container{
        display: flex;
        flex-direction: column;
    }
    .login-form-container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .image-container{
        height: 30vh;
        width: 100%;
        order: 1;
    }
    img{
        height: 500px;
        width: 500px;
        border-radius: 50%;
        margin-top: -150px;
        margin-left: 40%;
    }
    .login-container1{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 400px;
        width: 350px;
        align-items: center;
    }
    .app-logo{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .app-logo-container-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 230px;
        margin-top: 20%;
    }
    .app-name{
        font-family: DM sans;
        font-weight: 700;
        font-style: italic;
        line-height: 12px;
        font-size: 20px;
        color: #F7931E;
        margin-left: 10px;
    }
    .login-text{
        color: #0F172A;
        font-size: 25px;
        font-weight: 500;
        margin-top: 0%;
        font-family: DM sans;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    input{
        background-color: #ffffff;
        width: 120%;
        border-width: 1px;
        border-radius: 6px;
        height: 25px;
    }
    label{
        font-family: Roboto;
        font-size: 12px;
    }
    .err-text{
        color: #e70f0f;
        font-size: 12px;
        padding-top: 0%;
    }
    .submit-button{
        background-color: #F7931E;
        color: #FFFF;
        border-width: 0cap;
        border-radius: 6px;
        height: 25px;
        width: 120%;
    }
}

@media (max-width:376px){
    .login-main-container{
        display: flex;
        flex-direction: column;
    }
    .login-form-container{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .image-container{
        height: 30vh;
        width: 100%;
        order: 1;
    }
    img{
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-top: -60px;
        margin-left: 20%;
    }
    .login-container1{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: 400px;
        width: 350px;
        align-items: center;
    }
    .app-logo{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .app-logo-container-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 230px;
        margin-top: 20%;
        margin-left: 20px;
    }
    .app-name{
        font-family: DM sans;
        font-weight: 700;
        font-style: italic;
        line-height: 12px;
        font-size: 18px;
        color: #F7931E;
        
    }
    .login-text{
        color: #0F172A;
        font-size: 18px;
        font-weight: 500;
        margin-top: 0%;
        font-family: DM sans;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    input{
        background-color: #ffffff;
        width: 120%;
        border-width: 1px;
        border-radius: 6px;
        height: 25px;
    }
    label{
        font-family: Roboto;
        font-size: 12px;
    }
    .err-text{
        color: #e70f0f;
        font-size: 12px;
        padding-top: 0%;
    }
    .submit-button{
        background-color: #F7931E;
        color: #FFFF;
        border-width: 0cap;
        border-radius: 6px;
        height: 25px;
        width: 120%;
    }
}